extends layout
block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let motelId = toShow._id
    - let motelRatings = toShow.motelRatings
    - let motelCost = toShow.motelCost
    - let motelFacility = toShow.motelFacility
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{motelId}
    - let actionid = "/resource/motels/" + motelId
    form(id='MotelForm', action= actionid, method="PUT")
      div.form-group
        label.costumeAttr(for='motelRatings') Motel Ratings
        input#motelRatings(type='text' name='motelRatings', value= motelRatings )
      div.form-group
        label.costumeAttr(for='motelCost') Motel Cost
        input#motelCost(type='number' name='motelCost', value= motelCost )
      div.form-group
        label.costumeAttr(for='motelFacility') Motel Facility
        input#motelFacility(type='text' name='motelFacility', value= motelFacility )
      input(class="btn btn-success m-2" type="submit")

    script.
      document.forms['MotelForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error )
        });
      });